mixin contact()
    .contact 
        .contact__topbar
            span Контакты
        div.contact__main 
            .contact__map
               iframe(
                    src="https://yandex.uz/map-widget/v1/?ll=69.266375%2C41.342613&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgoyNDkzMDU5MTc3EjZPyrt6YmVraXN0b24sIFRvc2hrZW50LCBUdXJrcW8ncmcnb24gMi10b3Iga28nY2hhc2ksIDIiCg1hiIpCFdheJUI%2C&z=16.57",
                    width="600",
                    height="450",
                    style="border:0;",
                    allowfullscreen="",
                    loading="lazy"
                )

            form(action="").contact__form
                div.contact__form-label
                    label Имя 
                    input(type="text",  placeholder="Поле для ввода")
                div.contact__form-label
                    label Контактный номер 
                    input(type="text",  placeholder="+99890 123 45 67")
                div.contact__form-label
                    label Электронная почта 
                    input(type="email",  placeholder="Напишите почту")
                div.contact__form-check
                    input(type="checkbox")
                    div
                        p Я даю согласие на обработку
                        a(href="#") персональных данных
                button.contact__form-btn Оставить заявку
            